# ESP32-S31 default configuration

CONFIG_IDF_TARGET="esp32s31"

# Default LCD interface: RGB
CONFIG_EXAMPLE_LCD_INTERFACE_RGB=y

# PSRAM configuration
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_SPIRAM_MEMTEST=n
